# MacOS ignores.
.DS_Store

# Laravel ignores.
/backend/.phpunit.cache
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Svelte ignores.
node_modules
/web/build
/web/.svelte-kit
/web/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
