<._static_header />

<.flash_group flash={@flash} />

<section class="max-w-prose mx-auto my-10">
  <h1 class="text-5xl font-bold text-center mt-5 mb-3">Privacy Policy</h1>

  <p>
    Identifiable data collected by this website is limited to the following:
    <ul>
      <li>Email</li>
    </ul>
  </p>

  <p>
    Data collected will never be sold to third parties.
  </p>
</section>

<._static_footer />
