<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <.live_title suffix=" · Verk">
      <%= assigns[:page_title] || "Tasks" %>
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="icon" href={~p"/images/logo.svg"} type="image/svg+xml" />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"} />
    <!-- DOMPurify for use with the Squire Rich Text Editor -->
    <script type="text/javascript" src={~p"/scripts/purify.min.js"} />
    <script type="text/javascript" src={~p"/scripts/squire.js"} />
  </head>
  <body class="bg-white antialiased">
    <header class="p-4 flex items-start md:items-center justify-between border-b border-zinc-100 py-3 text-sm">
      <div class="flex items-center gap-4">
        <a href="/tasks">
          <img src={~p"/images/logo.svg"} width="36" class="min-w-[36px]" />
        </a>
        <p class="bg-brand/5 text-brand rounded-full px-2 font-medium leading-6">
          v<%= Application.spec(:phoenix, :vsn) %>
        </p>
      </div>

      <nav>
        <ul class="relative z-10 flex flex-col md:flex-row items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
          <%= if @current_user do %>
            <li>
              <.link
                href={~p"/tasks"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Tasks
              </.link>
            </li>
            <li>
              <.link
                href={~p"/tasks"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Completed Tasks
              </.link>
            </li>
            <li>
              <.link
                href={~p"/tasks"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Archived Tasks
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/settings"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Settings
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link
                href={~p"/users/register"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Register
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_in"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log in
              </.link>
            </li>
          <% end %>
        </ul>
      </nav>

      <%= if @current_user != nil do %>
        <p class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_user.email %>
        </p>
      <% end %>
    </header>

    <%= @inner_content %>
  </body>
</html>
