@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
        url('/fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
        url('/fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
        url('/fonts/Atkinson-Hyperlegible-Italic-102.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
        url('/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@layer base {
    html{
        font-size: 18px;
    }

    .editor {
        @apply leading-normal;
    }
    .editor > * {
        @apply p-1 border-b border-t border-transparent;
    }

    .editor > *:hover{
        @apply border-b border-slate-300;
    }

    .small-caps {
        font-variant: small-caps;
    }

    details.task .task__details > * {
        @apply px-5 py-1;
    }

    details > summary::-webkit-details-marker {
        display: none;
    }

    pre {
        @apply p-2 my-2 bg-slate-100 text-slate-900 overflow-x-auto;
    }

    code {
        @apply p-1  border border-slate-900 bg-slate-100;
    }

    a {
        @apply text-blue-600 underline hover:text-blue-400 hover:no-underline;
    }

    ul {
        @apply list-disc list-outside ms-8;
    }

    nav ul {
        @apply list-none;
    }

    ol {
        @apply list-decimal list-outside ms-8;
    }
}
