<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <.live_title suffix=" · Afrek">
      <%= assigns[:page_title] || "Tasks" %>
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="icon" href={~p"/images/logo.svg"} type="image/svg+xml" />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"} />
    <!-- DOMPurify for use with the Squire Rich Text Editor -->
    <script type="text/javascript" src={~p"/scripts/purify.min.js"} />
    <script type="text/javascript" src={~p"/scripts/squire.js"} />
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
